# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: api-user-java

on:
  push:
    branches: [ main ]
    paths:
      - './apis/user-java/**'
  pull_request:
    paths:
      - './apis/user-java/**'
  workflow_dispatch:

defaults:
  run:
    working-directory: ./apis/user-java
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build with Maven
      run: mvn clean install
    - name: Run tests
      run: mvn test
    - name: Create issue on failure
      if: ${{ failure() }}
      run: gh issue create --title 'Build ${{ github.run_id }} failed for workflow ${{ github.workflow }}' --project 'Trips Open Hack' --body 'The build job has failed.'  --assignee ${{ github.actor }} 

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    env:
      working-directory: apis/user-java/
      webapp-name: openhack4nl2avg0userjava
      resource-group: openhack4nl2avg0rg
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Azure CLI Action
      uses: Azure/cli@1.0.4
      with:
        # Build the container using ACR task. 
        inlineScript: |
          cd ${{env.working-directory}}
          az acr build --registry openhack4nl2avg0acr --build-arg ${{ github.sha }} --image devopsoh/api-user-java:${{ github.sha }} .

    - name: Configure Web App Health Check
      # Health checks will ensure application readiness during deployment slot swaps.  Each API has a healthcheck route
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |
          az webapp config set -g ${{env.resource-group}} -n ${{env.webapp-name}} --generic-configurations '{"healthCheckPath": "api/healthcheck/user-java"}'
          az webapp config set -g ${{env.resource-group}} -n ${{env.webapp-name}} --slot staging --generic-configurations '{"healthCheckPath": "api/healthcheck/user-java"}'

    - name: Azure WebApp
      uses: Azure/webapps-deploy@v2
      with:
        app-name: 'openhack4nl2avg0userjava'
        images: 'openhack4nl2avg0acr.azurecr.io/devopsoh/api-user-java:${{ github.sha }}'
        
    - name: Swap staging to production
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |
          az webapp deployment slot swap --name ${{env.webapp-name}} --resource-group ${{env.resource-group}} --slot staging
        
    - name: Create issue on failure
      if: ${{ failure() }}
      run: gh issue create --title 'Deployment ${{ github.run_id }} failed for workflow ${{ github.workflow }}' --project 'Trips Open Hack' --body 'The deployment job has failed.'  --assignee ${{ github.actor }} 
