name: api-trips

on:
  push:
    branches: [ main ]
    paths:
      - './apis/trips/**'
  pull_request:
    paths:
      - './apis/trips/**'
  workflow_dispatch:

defaults:
  run:
    working-directory: ./apis/trips
    
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Go environment
      uses: actions/setup-go@v2.1.4
      with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
        go-version: 1.15
                
    - name: Unit Test
      run: go test ./tripsgo -run Unit

    - name: Integration Test set SQL Server
      uses: jacobtomlinson/gha-find-replace@0.1.4
      with:
        # A regular expression of files to include in our find and replace
        include: ./tripsgo/.evn
        # The string we want to replace
        find: "__SQLSERVER__"
        # The new string to replace with
        replace: ${{ secrets.SQL_SERVER }}

    - name: Integration Test set SQL User
      uses: jacobtomlinson/gha-find-replace@0.1.4
      with:
        # A regular expression of files to include in our find and replace
        include: ./tripsgo/.evn
        # The string we want to replace
        find: "__SQLUSER__"
        # The new string to replace with
        replace: ${{ secrets.SQL_USER }}
      
    - name: Integration Test set SQL Password
      uses: jacobtomlinson/gha-find-replace@0.1.4
      with:
        # A regular expression of files to include in our find and replace
        include: ./tripsgo/.evn
        # The string we want to replace
        find: "__SQLPASSWORD__"
        # The new string to replace with
        replace: ${{ secrets.SQL_PASSWORD }}
  
    - name: Integration Test
      run: go test ./tripsgo 
      
    - name: Create issue on failure
      if: ${{ failure() }}
      run: |
        gh issue create --title 'Build ${{ github.run_id }} failed for workflow ${{ github.workflow }}' --project 'Trips Open Hack' --body 'The build job has failed.'  --assignee ${{ github.actor }} 
        
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    env:
      working-directory: apis/trips/
      webapp-name: openhack4nl2avg0trips
      resource-group: openhack4nl2avg0rg
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    steps:
    - uses: actions/checkout@v2
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Azure CLI Action
      uses: Azure/cli@1.0.4
      with:
        # Build the container using ACR task.  The Dockerfile will build and run unit tests.
        inlineScript: |
          cd ${{env.working-directory}}
          az acr build --registry openhack4nl2avg0acr --build-arg ${{ github.sha }} --image devopsoh/api-trips:${{ github.sha }} .

    - name: Configure Web App Health Check
      # Health checks will ensure application readiness during deployment slot swaps.  Each API has a healthcheck route
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |
          az webapp config set -g ${{env.resource-group}} -n ${{env.webapp-name}} --generic-configurations '{"healthCheckPath": "api/healthcheck/trips"}'
          az webapp config set -g ${{env.resource-group}} -n ${{env.webapp-name}} --slot staging --generic-configurations '{"healthCheckPath": "api/healthcheck/trips"}'

    - name: Azure WebApp
      uses: Azure/webapps-deploy@v2
      with:
        app-name: 'openhack4nl2avg0trips'
        slot-name: staging
        images: 'openhack4nl2avg0acr.azurecr.io/devopsoh/api-trips:${{ github.sha }}'

    - name: Swap staging to production
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |
          az webapp deployment slot swap --name ${{env.webapp-name}} --resource-group ${{env.resource-group}} --slot staging
        
    - name: Create issue on failure
      if: ${{ failure() }}
      run: gh issue create --title 'Deployment ${{ github.run_id }} failed for workflow ${{ github.workflow }}' --project 'Trips Open Hack' --body 'The deployment job has failed.'  --assignee ${{ github.actor }} 
   
